@import "../base/_mixins";

* {
    box-sizing: border-box;
}
.root{
    max-width:100%vw;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Archivo-Regular', sans-serif;
    line-height: 1.7;
    color: #191C40;
    font-size:0.9rem;

     @mixin atSmall{
        font-size:1rem;
    }
    @mixin atMedium{
       font-size:1.1rem; 
    }

    @mixin atLarge{
        font-size: 1.3125rem;
    }

}


@font-face {
    font-family: "Archivo-Bold";
    src: url("/fonts/Archivo/Archivo-Bold.ttf");
}

@font-face {
    font-family: "Archivo-Regular";
    src: url("/fonts/Archivo/Archivo-Regular.ttf");
}

@font-face {
    font-family: "Archivo-SemiBold";
    src: url("/fonts/Archivo/Archivo-SemiBold.ttf");
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Playfair Display-Bold";
    src: url("/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf");
}

img {
    max-width: 100%;
    height: auto;
    display: block
}