.btn {
    background-color: $mainYellow;
    text-decoration: none;
    padding: 1.1rem 1.7rem;
    display: inline-block;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Archivo-Bold', sans-serif;
    border-style: none;

    &:after {
        padding: 10px;
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        text-decoration: line-through;
    }

    @mixin atMedium {
        font-size: 1.11rem;
    }

    &--overlap {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 50%);

    }

    &--half-radius {
        border-radius: 0 2rem 2rem 0
    }
}