.gallery {
margin-top:2em;
min-height:100vh;
width:100%;
display: grid; 
grid-template-columns: repeat(1, 1fr);
grid-auto-rows:230px;
grid-row-gap: 5px; 
overflow:hidden;

   


  @mixin atSmall{
grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
grid-auto-rows:280px;
  }

  @mixin atMedium{
   
  grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
  grid-auto-rows:350px;
  grid-gap: 5px;
  grid-auto-flow:dense;
 
    

         &__event:nth-child(1) { 
        grid-column-end: span 2;
        grid-row-end: span 2;
        
        } 
        &__event:nth-child(2) { 
             grid-column-end: span 2;  
             
            } 
       
  }

   
    &__event{
       overflow:hidden;
       position:relative;
       
       figure:hover .overlay{
            opacity:1;
            transition: all 1s;
        }
       
      

        >figure{
            margin:0;
         

            >img{
            width:100%;
            height:100%;
            object-fit:cover;
            display:block;
            }

            >.overlay{
            position:absolute;
            top:0;
            left:0;
            opacity:0;
            height:100%;
            width:100%;   
            background-color:rgba(#FFE87E, 0.6);
            
            z-index:10;

              >figcaption >p{
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                text-transform:uppercase;
                color:#191C40;

               }  
            }
            
            }
        
      
    }

    &--singiel{
      @mixin atMedium{

         &__event:nth-child(1) { 
        grid-column-end: span 1;
        grid-row-end: span 1;
        
        } 
        &__event:nth-child(2) { 
             grid-column-end: span 1;  
             
            } 
       
  }
    }
    
}
