.navigation {
  font-family:'Roboto', sans-serif; 
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500px;
  

  @mixin atMedium{
    display:flex;
    flex: 0 1 33%;
    justify-content: space-around;;
    align-items: center;
    font-size:15px;
    
    
  }
  @mixin atLarge{
    justify-content:space-around;
    font-size: 18px;
    
  }

  ul {
    display: flex;
    flex-direction:column;
    align-content: center;
    padding:0;
    margin:0;
   
    @mixin atMedium {
      flex-direction:row;
      justify-content: flex-end;
      align-items: center;
      flex: 0 1 30%;
      margin-top:1em;
    }
  }

  li {
    list-style: none;
    margin: 0 30px 0 30px;

    @mixin atMedium{
      margin: 0 20px;
    }

  }
  

  a {
    font-weight: 300;
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px 0;
    
  }
  a.active{
  border-bottom: 2px solid #44E0E3;
  }

  &__logo {
    display: none;

    @mixin atMedium{
     display:block;
     max-width: 250px;
     flex: 0 1 40%;
      
    }
   
  }

  &--footer {
    padding:2em 0;
    font-size: 0.87rem;

    @mixin atMedium{
      padding: 0;
    }

    ul {
      padding: 0;
      flex-direction: column;
      align-items: center;

      @mixin atMedium{
        align-items:flex-start;
      }
    }

    a {
      padding: 0;
      line-height: 2.5;
      letter-spacing:1.3px;
      color:#A0A0A0;
      
    }

    a:link:active{
      border-bottom: 2px solid #44E0E3;
    }
  }
}