.quotes {
    display: flex;
    margin: 0 6em;
    justify-content: center;
    align-content: center;
    line-height: 1.7;
    letter-spacing: 1px;
    font-size: 1.3125rem;


    &__quotation {
        margin-right: 0.2em;
        font-family: "Palanquin", sans-serif;
        align-self: flex-start;
        font-size: 10rem;


    }

    &__content {
        align-self: center;
        font-size: 1.3125rem;
    }

    &__text-content {
        align-self: center;
        margin:0;
    }


    &__author {
        margin-right: 40%;
        border-bottom: 2px black solid;
        line-height: 400%;

    }

    &__author--center {
        letter-spacing: 2px;
        font-family: "PlayfairDisplay-Regular";
        font-size: 1.251rem
    }

    &--column { 
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0; 
        text-align: center;

        .quotes__quotation {
            line-height: 0.3;
            align-self: center;
        }

    }



    &--column::after {
        display: block;
        content: "";
        margin: 0 auto;
        width: 10%;
        height: 5px;
        background-color: $mainYellow;

    }
}