.quotes {
    max-width:40rem;
    display: flex;
    padding: 0 2em;
    justify-content: center;
    align-content: center;
    line-height: 1.7;
    letter-spacing: 1px;

    @mixin atSmall{
        padding: 2.5em 5em 4em 5em;
    }
    @mixin atMedium{
         padding: 2.5em 3em 4em 3em;
    }

    @mixin atLarge{
        padding: 1em 6em;
    }

    &__quotation {
        margin-right: 0.2em;
        font-family: "Palanquin", sans-serif;
        align-self: flex-start;
        font-size: 7rem;
        line-height:1;

        @mixin atMedium{
            font-size: 9rem;
            line-height:1;
        }


    }

    &__content {
        align-self: center;
        /*font-size: 1.3125rem;*/
    }

    &__text-content {
        align-self: center;
        margin:0;
    }


    &__author {
        margin-right: 40%;
        border-bottom: 2px black solid;
        line-height: 400%;

    }

    &__author--center {
        letter-spacing: 2px;
        font-family: "PlayfairDisplay-Regular";
        font-size: 1.251rem
    }

    &--column { 
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0; 
        text-align: center;

        .quotes__quotation {
            line-height: 0.3;
            align-self: center;
        }

    }



    &--column::after {
        display: block;
        content: "";
        margin: 0 auto;
        width: 15%;
        height: 5px;
        background-color: $mainYellow;

    }
}