.wrapper {
    max-width: 18.75rem;
    padding: 0 1em;
    margin: 0 auto;
    text-align: center; 
    
    @mixin atSmall{
        max-width:55rem;
        padding: 0 2.5em;
    }
    @mixin atMedium{
      max-width: 70rem; 
      
    }


    &--nav {
        max-width: 85rem;
    }

    &--wider {
        max-width: 86rem;
        padding: 0 2.8em;
    }

}