.wrapper {
    width: 66rem;
    margin: 0 auto;
    text-align: center;

   &__wrapper--center{
       
   }

    &--nav {
        min-width: 80rem;
    }

    &--wider {
        width: 75rem;
    }

}